.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
}
.about__img {
  filter: grayscale(100%);
  width: 350px;

  border-radius: 1.5rem;
  justify-self: center;
}
.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.about__subtitle {
  font-size: var(--tiny-font-size);
}
.about__description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}
